.login-form {
    color: white !important;
}

.login-form a {
    color: white !important;
}

.login-form a:hover {
    color: black !important;
}

.btn-primary {
    background-color: white !important;
    color: #06a4d5 !important;
}

.btn-primary:active, .btn-primary:hover, .btn-primary:focus {
    background-color: #05a3d5 !important;
    color: white !important;
}

.login-form input[type='checkbox'] {
    outline: 1px solid white;
    border-color: white;
}

input[type="text"], input[type="password"] {
	height: 2rem;
	background-color: white;
}